<ul class="operation-list">
  <li>
    <a href="#" ui-sref="ikinci-sinif.toplama">
      <img src="img/toplama.png" alt="">
      <h2>Toplama İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ikinci-sinif.cikarma">
      <img src="img/cikarma.png" alt="">
      <h2>Çıkarma İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ikinci-sinif.carpma">
      <img src="img/carpma.png" alt="">
      <h2>Çarpma İşlemi</h2>
    </a>
  </li>
  <li class="end">
    <a href="#" ui-sref="ikinci-sinif.bolme">
      <img src="img/bolme.png" alt="">
      <h2>Bölme İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ikinci-sinif.zihinden-toplama">
      <img src="img/zihinden-toplama.png" alt="">
      <h2>Zihinden Toplama İşlemi</h2>
    </a>
  </li>
  <li class="end">
    <a href="#" ui-sref="ikinci-sinif.zihinden-cikarma">
      <img src="img/zihinden-cikarma.png" alt="">
      <h2>Zihinden Çıkarma İşlemi</h2>
    </a>
  </li>
</ul>
