<ul class="operation-list">
  <li>
    <a href="#" ui-sref="ucuncu-sinif.toplama">
      <img src="img/toplama.png" alt="">
      <h2>Toplama İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ucuncu-sinif.cikarma">
      <img src="img/cikarma.png" alt="">
      <h2>Çıkarma İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ucuncu-sinif.carpma">
      <img src="img/carpma.png" alt="">
      <h2>Çarpma İşlemi</h2>
    </a>
  </li>
  <li class="end">
    <a href="#" ui-sref="ucuncu-sinif.bolme">
      <img src="img/bolme.png" alt="">
      <h2>Bölme İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ucuncu-sinif.zihinden-toplama">
      <img src="img/zihinden-toplama.png" alt="">
      <h2>Zihinden Toplama İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ucuncu-sinif.zihinden-cikarma">
      <img src="img/zihinden-cikarma.png" alt="">
      <h2>Zihinden Çıkarma İşlemi</h2>
    </a>
  </li>
  <li>
    <a href="#" ui-sref="ucuncu-sinif.zihinden-carpma">
      <img src="img/zihinden-carpma.png" alt="">
      <h2>Zihinden Çarpma İşlemi</h2>
    </a>
  </li>
  <!-- <li class="end">
    <a href="#" ui-sref="ucuncu-sinif.kisayol-bolme">
      <img src="img/kisayol-bolme.png" alt="">
      <h2>Kısa Yoldan Bölme İşlemi</h2>
    </a>
  </li> -->
</ul>
